body {
    font-family: Roboto, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: rgb(51, 51, 51);
    background-color: rgb(241, 241, 241);
}

h1,
h2 {
    text-align: center;
    margin: 20px 0;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 18, 58);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    background-color: rgb(0, 86, 179);
}

a {
    text-decoration: none;
    color: rgb(0, 86, 179);
}


.header {
    background-color: rgb(0, 18, 58);
    color: white;
    padding: 20px;
    text-align: center;
}

.header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.about-teacher {
    height: 300px;
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(244, 244, 244);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/teacher1.jpeg");
    background-position: center 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about-teacher p {
    max-width: 800px;
    margin: 0 auto;
    color: white;
    font-size: larger;
}

.about-teacher h2 {
    color: white;
    font-weight: bold;
}

.courses {
    padding: 40px 20px;
}

.course-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.course-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease;
    cursor: default;
}

.course-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.lrn-mre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.trusted-by {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

.instructor {
    margin: 0;
    padding-bottom: 40px;
    background-color: rgb(252, 252, 252);
}

.trusted-by img {
    height: 150px;
    padding: 20px;
    filter: grayscale(1);
    transition: all 0.3s ease;
}

.trusted-by img:hover {
    transform: scale(1.03);
    filter: grayscale(0);
}

.awards,
.testimonials-home {
    padding: 40px 10px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

.awards {
    padding-bottom: 20px;
}

.awards p {
    font-size: 1.2rem;

}

.awards h2,
.testimonials-home h2,
.trusted-by h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.testimonial-slider-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-slider {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    overflow: hidden;
}


.testimonial-home {
    background: white;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384);
    padding: 20px;
    border-radius: 8px;
    font-style: italic;
    color: rgb(85, 85, 85);
    text-align: left;
    transition:all 0.4s ease;
}

.testimonial-home:hover {
    transform: scale(1.06);
    background-color: rgb(121, 121, 121);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.testimonial-home p {
    margin: 0;
}


@media (max-width: 1120px) {
    .testimonial-slider {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .course-list {
        flex-direction: column;
        align-items: center;
    }

    .course-card {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .testimonial-slider {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .learn-more-btn {
        width: 100%;
        padding: 12px;
    }

    .testimonial-slider {
        grid-template-columns: 1fr;
    }

    .trusted-by img {
        height: 120px;
    }
}